{% extends 'base.html' %}
{% load static %}

{% block body %}
    {% block header %}
        {% include 'inc/nav.html' %}
    {% endblock %}

    {% block nav %}
    {% endblock %}

    {% block content %}
        <div class="container resume-container">

            <form method="post" class="form-resume" enctype="multipart/form-data">
                {% csrf_token %}

                 <h4>Общая информация</h4>

                {% for field in form %}
                    {{ field.label_tag }}
                    {{ field }}
                {% endfor %}

                <hr>

                <h4>Образование</h4>

                {% for field in education.forms %}
                    {% if forloop.first %}
                        {{ field }}
                    {% endif %}
                {% endfor %}

                <h4>Опыт работы</h4>

                {% for field in experience.forms %}
                    {% if forloop.first %}
                        {{ field }}
                    {% endif %}
                {% endfor %}

                <hr>

                <button class="btn btn-success" name="status" value="2" type="submit">Опубликовать</button>
                <button class="btn btn-primary" name="status" value="4" type="submit">Сохранить Черновик</button>
                <a class="btn btn-primary" href="{% url 'applicantapp:profile' request.user.id %}">Вернуться</a>

            </form>
        </div>

    {% endblock %}

{% endblock %}