{% extends 'base.html' %}
{% load static %}

{% block body %}
    {% block header %}
        {% include 'inc/nav.html' %}
    {% endblock %}

    {% block nav %}
    {% endblock %}

    {% block content %}
        <div class="container resume-container">

            <form method="post" id="form_for_post" class="form-resume" enctype="multipart/form-data">
                {% csrf_token %}

                {% for field in form %}
                    {% if field.name not in 'status' %}
                        <div>
                            {{ field.label_tag }}:
                            {{ field }}
                            {{ field.errors }}
                        </div>
                    {% endif %}
                {% endfor %}

                {{ form.errors }}
                {{ form.non_field_errors }}

<!--                {{ form.as_p }}-->

                <button class="btn btn-primary" name="status" value="2" type="submit">Опубликовать</button>
                <button class="btn btn-success" name="status" value="4" type="submit">Сохранить Черновик</button>

            </form>
        </div>

    {% endblock %}

{% endblock %}