{% extends 'base.html' %}
{% load static %}

{% block body %}
    {% block header %}
        {% include 'inc/nav.html' %}
    {% endblock %}

    {% block nav %}
    {% endblock %}

    {% block content %}
        <div class="container resume-container">

            <form method="post" class="form-resume" enctype="multipart/form-data">
                {% csrf_token %}

                 {{ form.as_p }}

                <button class="btn btn-primary" name="status" value="2" type="submit">Опубликовать</button>
                <button class="btn btn-success" name="status" value="4" type="submit">Сохранить Черновик</button>
                <a class="btn btn-secondary" href="{% url 'applicantapp:profile' request.user.id %}">Вернуться</a>

            </form>
        </div>

    {% endblock %}

{% endblock %}