{% extends 'base.html' %}
{% load static %}


{% block header %}

{% endblock %}

{% block content %}
   <!-- Main container -->
<main>
    <!-- Newsletter -->
    <section class="bg-img text-center subscribe">
        <div class="container">
            <div>fdjnjfkn</div>
        </div>
    </section>
    <!-- END Newsletter -->

    <!-- Recent news -->
    {% block news %}
        {% include 'inc/index-news.html' %}
    {% endblock %}
    <!-- END News -->

</main>
<!-- END Main container -->

{% endblock %}






