{% extends 'base.html' %}
{% load static %}

{% block header %}
    <header class="page-header bg-img size-lg">
        <div class="container no-shadow">
            <h1 class="text-center">Личный кабинет - {{ user.email }}</h1>
            {% include 'inc/applicant_header_menu.html' %}
        </div>
    </header>
{% endblock %}

{% block content %}
    <!-- Main container -->
    <main>
        <section class="no-padding-top bg-alt">
            <div class="container">
                <div class="row item-blocks-connected">
                    <div class="col-xs-12 text-right">
                        <br>
                    </div>

                    <div class="job-list">
                        <table class="job-list__table">
                            <caption><h2>Приглашения:</h2></caption>
                            <tr>
                                <th class="narrow">№</th>
                                <th class="wide">Кто откликнулся</th>
                                <th>Вакансия</th>
                            </tr>
                            {% for item in object_list %}
                                <tr>
                                <th class="narrow">{{ forloop.counter }}</th>

                                <th class="wide">
                                    {{ item.hr }}
                                </th>
                                <th><a href="{% url 'applicantapp:respince_job_detail' item.vacansy.pk  %}">{{ item.vacansy }}</a></th>

                            {% endfor %}
                            </tr>
                        </table>
            </div>


                </div>
            </div>
        </section>
    </main>
    <!-- END Main container -->
{% endblock %}

{% block footer %} {% endblock %}