{% extends 'base.html' %}
{% load static %}

{% block header %}
    <header class="page-header bg-img size-lg">
        <div class="container no-shadow">
            <h1 class="text-center">Личный кабинет - {{ user.email }}</h1>
            <p class="lead text-center">
                <a href="{% url 'applicantapp:resume-list' %}"> Список резюме |</a>
                <a href="{% url 'applicantapp:job_search_list' %}"> Поиск вакансий |</a>
                <a href="{% url 'applicantapp:responce_resume_list' %}"> Приглашения |</a>
            </p>
        </div>
    </header>
{% endblock %}

{% block content %}
    <!-- Main container -->
    <main>
        <section class="no-padding-top bg-alt">
            <div class="container">
                <div class="row item-blocks-connected">
                    <div class="col-xs-12 text-right">
                        <br>
{#                        <a class="btn btn-primary btn-sm" href="{% url 'companyapp:new-job' user.company.pk %}">Добавить вакансию</a>#}
                    </div>

                    <div class="job-list">
                        <table class="job-list__table">
                            <caption><h2>Отклики:</h2></caption>
                            <tr>
                                <th class="narrow">№</th>
                                <th class="wide">Кто откликнулся</th>
                                <th>Вакансия</th>
                            </tr>
                            {% for item in object_list %}
                                <tr>
                                <th class="narrow">{{ forloop.counter }}</th>

                                <th class="wide">
{#                                    <a href="{% url 'companyapp:resume-list-detail' item.hr.pk %}">{{ item.hr }}</a>#}
                                    {{ item.hr }}
                                </th>
                                <th><a href="{% url 'applicantapp:respince_job_detail' item.vacansy.pk %}">{{ item.vacansy }}</a></th>
{#                                <th class="narrow">{{item.views_count}}</th>#}
{#                                {% if item.status == "0" %}#}
{#                                    <th>Отклонена модератором</th>#}
{#                                {% elif item.status == "1" %}#}
{#                                    <th>Заготовка</th>#}
{#                                {% elif item.status == "2" %}#}
{#                                    <th>На модерации</th>#}
{#                                {% elif item.status == "3" %}#}
{#                                    <th>Опубликована</th>#}
{#                                {% elif item.status == "4" %}#}
{#                                    <th>Черновик</th>#}
{#                                {% elif item.status == "5" %}#}
{#                                    <th>Скрыта</th>#}
{#                                {% elif item.status == "6" %}#}
{#                                    <th>Закрыта</th>#}
{#                                {% elif item.status == "9" %}#}
{#                                    <th>Удалена</th>#}
{#                                {% endif %}#}

                            {% endfor %}
                            </tr>
                        </table>
            </div>

                    <!-- Job detail -->
{#                    <div class="col-xs-12">#}
{#                        <div class="item-block">#}
{#                            <header>#}
{#                                <a href="#"><img src="/img/logo-google.jpg" alt=""></a>#}
{#                                <div class="hgroup">#}
{#                                    <h4><a href="job-detail.html">Senior front-end developer</a></h4>#}
{#                                    <h5><a href="company-detail.html">Google</a></h5>#}
{#                                </div>#}
{#                                <div class="header-meta">#}
{#                                    <span class="location">Калифорния</span>#}
{#                                    <time datetime="10.03.2021 20:00">34 мин. назад</time>#}
{#                                </div>#}
{#                            </header>#}
{#    #}
{#                            <footer>#}
{#                                <p class="status"><strong>Статус:</strong> Ожидает проверки</p>#}
{#    #}
{#                                <div class="action-btn">#}
{#                                    <a class="btn btn-xs btn-gray" href="#">Редактировать</a>#}
{#                                    <a class="btn btn-xs btn-danger" href="#">Удалить</a>#}
{#                                </div>#}
{#                            </footer>#}
{#                        </div>#}
{#                    </div>#}
{#                    <!-- END Job detail -->#}
{#    #}
{#                    <!-- Job detail -->#}
{#                    <div class="col-xs-12">#}
{#                        <div class="item-block">#}
{#                            <header>#}
{#                                <a href="#"><img src="/img/logo-google.jpg" alt=""></a>#}
{#                                <div class="hgroup">#}
{#                                    <h4><a href="#">Мидл JavaScript разраб</a></h4>#}
{#                                    <h5><a href="#">Google</a></h5>#}
{#                                </div>#}
{#                                <div class="header-meta">#}
{#                                    <span class="location">Калифорния</span>#}
{#                                    <time datetime="09.03.2021 20:00">8 часов назад</time>#}
{#                                </div>#}
{#                            </header>#}
{#    #}
{#                            <footer>#}
{#                                <p class="status"><strong>Статус:</strong> Опубликована</p>#}
{#    #}
{#                                <div class="action-btn">#}
{#                                    <a class="btn btn-xs btn-gray" href="#">Редактировать</a>#}
{#                                    <a class="btn btn-xs btn-success" href="#">Закрыть</a>#}
{#                                    <a class="btn btn-xs btn-danger" href="#">Удалить</a>#}
{#                                </div>#}
{#                            </footer>#}
{#                        </div>#}
{#                    </div>#}
{#                    <!-- END Job detail -->#}
{#    #}
{#                    <!-- Job detail -->#}
{#                    <div class="col-xs-12">#}
{#                        <div class="item-block">#}
{#                            <header>#}
{#                                <a href="#"><img src="img/logo-microsoft.jpg" alt=""></a>#}
{#                                <div class="hgroup">#}
{#                                    <h4><a href="#">Full Stack Web Developer</a></h4>#}
{#                                    <h5><a href="#">Microsoft</a> <span#}
{#                                            class="label label-success">Закрыта</span></h5>#}
{#                                </div>#}
{#                                <div class="header-meta">#}
{#                                    <span class="location">Калифорния</span>#}
{#                                    <time datetime="10.02.2021 20:00">1 месяц назад</time>#}
{#                                </div>#}
{#                            </header>#}
{#    #}
{#                            <footer>#}
{#                                <p class="status"><strong>Статус:</strong> Закрыта</p>#}
{#    #}
{#                                <div class="action-btn">#}
{#                                    <a class="btn btn-xs btn-gray" href="#">Редактировать</a>#}
{#                                    <a class="btn btn-xs btn-danger" href="#">Удалить</a>#}
{#                                </div>#}
{#                            </footer>#}
{#                        </div>#}
{#                    </div>#}
                    <!-- END Job detail -->

                </div>
            </div>
        </section>
    </main>
    <!-- END Main container -->
{% endblock %}

{% block footer %} {% endblock %}