{% for resume in resume_list %}
   <div class="col-xs-12">
      <div class="item-block" style="padding-left: 15px">
            <div class="hgroup">
                <h5>{{ resume.headline }} </h5>
                <h4>{{ resume.surname }} {{ resume.first_name }} </h4>
            </div>
             <div class="header-meta">
                {{ resume.status }}
                <br>
                {% if resume.city %}
                    <span class="location"><i class="fa fa-map-marker"></i> {{ resume.city }} </span><br>
                {% endif %}

                {% if resume.salary %}
                    <span class="rate">{{ resume.salary }} руб. </span>
                {% endif %}

                <a class="btn btn-primary" href="{% url 'applicantapp:update_resume' resume.pk %}">Редактировать</a>
             </div>

      </div>
   </div>
{% endfor %}
