{% extends 'base.html' %}
{% load static %}

{% block body %}
    {% block header %}
        {% include 'inc/nav.html' %}
    {% endblock %}

    {% block nav %}
    {% endblock %}

    {% block content %}
        <div class="container resume-container">
            <form method="post" class="form-resume" enctype="multipart/form-data"> {% csrf_token %}

                {{ form.as_p }}

                <div id="id_status">
                    <button type="submit" class="btn btn-gray btn-save" name="status" value="2">
                        Сохранить
                    </button>
                    <button type="submit" class="btn btn-gray btn-save" name="status" value="4">
                        Черновик
                    </button>
                    <button type="submit" class="btn btn-gray btn-save" name="status" value="5">
                        Скрыть
                    </button>
                </div>

            </form>
        </div>
    {% endblock %}

{% endblock %}