{% extends 'base.html' %}
{% block content %}

<!-- Main container -->
<main>

    <!-- Recent jobs -->
    {% block jobs %}
        <!-- include 'inc/index-jobs.html' -->
    {% endblock %}
    <!-- END Recent jobs -->

    <!-- Recent news -->
    {% block news %}
        {% include 'inc/index-news.html' %}
    {% endblock %}
    <!-- END News -->

    <!-- Companies -->
    {% block partners %}
        {% include 'inc/index-partners.html' %}
    {% endblock %}
    <!-- END Companies -->

 </main>
<!-- END Main container -->

{% endblock %}