.demo-btn-margin .btn {
    margin-bottom: 6px;
}
.site-header {
    background: url(../img/bg-1.jpg) fixed no-repeat;
}
.subscribe {
    background: url(../img/bg-3.jpg) fixed no-repeat;
}
.user-account .dropdown-toggle img {
    width: 44px;
    height: 44px;
}
.user-account .dropdown-menu {
    right: -45px;
}
.user-account .dropdown-menu:before {
    right: 63px;
}
.nav-menu a {
    font-size: 15px;
}
.agree {
    margin-top: 15px;
    margin-bottom: -25px;
}
div.agree label {
    font-weight: 300;
    font-size: 13px;
    vertical-align: middle;
}
.ti-eye {
    cursor: pointer;
}
.item-block header .news {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 400;
    border-radius: 6px;
    padding: 9px 9px;
    margin-top: 16px;
}
div.category-grid img {
    width: 64px;
    border-radius: 50%;
}