{% extends 'base.html' %}
{% load static %} 
{% block content %}

  <!-- Main container -->
  <main>
    <!-- Recent jobs -->
    <section class="bg-alt">
      <div class="container">
        <header class="section-header">
          <h2>Недавние вакансии</h2>
          <p>Последние предложения о работе, размещённые на сайте</p>
        </header>

        <div class="row item-blocks-connected">
          <!-- Job item -->
          <div class="col-xs-12">
            <a class="item-block" href="#">
              <header>
                <img src="{% static 'img/logo-google.jpg' %}" alt="" />
                <div class="hgroup">
                  <h4>Сеньор Frontend разработчик</h4>
                  <h5>Google</h5>
                </div>
                <div class="header-meta">
                  <span class="location">Калифорния</span>
                  <span class="label label-success">Полная занятость</span>
                </div>
              </header>
            </a>
          </div>
          <!-- END Job item -->

          <!-- Job item -->
          <div class="col-xs-12">
            <a class="item-block" href="#">
              <header>
                <img src="{% static 'img/logo-linkedin.png' %}" alt="" />
                <div class="hgroup">
                  <h4>Software Engineer (Entry or Senior)</h4>
                  <h5>Linkedin</h5>
                </div>
                <div class="header-meta">
                  <span class="location">Ливермор, Калифорния</span>
                  <span class="label label-success">Удалённо</span>
                  <span class="label label-warning">Частичная занятость</span>
                </div>
              </header>
            </a>
          </div>
          <!-- END Job item -->

          <!-- Job item -->
          <div class="col-xs-12">
            <a class="item-block" href="#">
              <header>
                <img src="{% static 'img/logo-envato.png' %}" alt="" />
                <div class="hgroup">
                  <h4>FullStack Web разработчик</h4>
                  <h5>Envato</h5>
                </div>
                <div class="header-meta">
                  <span class="location">Сан Франциско, Калифорния</span>
                  <span class="label label-info">Фриланс</span>
                </div>
              </header>
            </a>
          </div>
          <!-- END Job item -->

          <!-- Job item -->
          <div class="col-xs-12">
            <a class="item-block" href="#">
              <header>
                <img src="{% static 'img/logo-facebook.png' %}" alt="" />
                <div class="hgroup">
                  <h4>Web разработчик</h4>
                  <h5>Facebook</h5>
                </div>
                <div class="header-meta">
                  <span class="location">Лексингтон, Массачусетс</span>
                  <span class="label label-danger">Стажировка</span>
                </div>
              </header>
            </a>
          </div>
          <!-- END Job item -->

          <!-- Job item -->
          <div class="col-xs-12">
            <a class="item-block" href="#">
              <header>
                <img src="{% static 'img/logo-microsoft.jpg' %}" alt="" />
                <div class="hgroup">
                  <h4>Сеньор SQL Server разработчик</h4>
                  <h5>Microsoft</h5>
                </div>
                <div class="header-meta">
                  <span class="location">Пало Альта, Калифорния</span>
                  <span class="label label-success">Удалённо</span>
                  <span class="label label-success">Полная занятость</span>
                </div>
              </header>
            </a>
          </div>
          <!-- END Job item -->
        </div>

        <br /><br />
        <p class="text-center"><a class="btn btn-info" href="#">Больше вакансий</a></p>
      </div>
    </section>
    <!-- END Recent jobs -->

    <!-- Facts -->
    <section class="bg-img bg-repeat no-overlay section-sm">
      <div class="container">
        <div class="row">
          <div class="counter col-md-3 col-sm-6">
            <p><span data-from="0" data-to="2200"></span>+</p>
            <h6>Вакансий</h6>
          </div>

          <div class="counter col-md-3 col-sm-6">
            <p><span data-from="0" data-to="9500"></span>+</p>
            <h6>Соискателей</h6>
          </div>

          <div class="counter col-md-3 col-sm-6">
            <p><span data-from="0" data-to="15800"></span>+</p>
            <h6>Резюме</h6>
          </div>

          <div class="counter col-md-3 col-sm-6">
            <p><span data-from="0" data-to="200"></span>+</p>
            <h6>IT-компаний</h6>
          </div>
        </div>
      </div>
    </section>
    <!-- END Facts -->

    <!-- Companies -->
    <section class="bg-alt">
      <div class="container">
        <header class="section-header">
          <h2>Наши партнёры</h2>
          <p>IT-Компании</p>
        </header>

        <div class="category-grid">
          <a href="#">
            <img src="{% static 'img/logo-google.jpg' %}" alt="" />
            <h6>Google</h6>
            <p>Цель компании – упорядочить всю информацию и сделать ее доступной</p>
          </a>

          <a href="#">
            <img src="{% static 'img/logo-facebook.png' %}" alt="" />
            <h6>Facebook</h6>
            <p>Give people the power to build community and bring the world closer together</p>
          </a>

          <a href="#">
            <img src="{% static 'img/logo-microsoft.jpg' %}" alt="" />
            <h6>Microsoft</h6>
            <p>Microsoft – обеспечивает продуктивность в мире, где царят мобильность и облако</p>
          </a>

          <a href="#">
            <img src="{% static 'img/logo-microsoft.jpg' %}" alt="" />
            <h6>Microsoft</h6>
            <p>Microsoft – обеспечивает продуктивность в мире, где царят мобильность и облако</p>
          </a>

          <a href="#">
            <img src="{% static 'img/logo-google.jpg' %}" alt="" />
            <h6>Google</h6>
            <p>Цель компании – упорядочить всю информацию и сделать ее доступной</p>
          </a>

          <a href="#">
            <img src="{% static 'img/logo-facebook.png' %}" alt="" />
            <h6>Facebook</h6>
            <p>Give people the power to build community and bring the world closer together</p>
          </a>
        </div>

        <p class="text-center"><a class="btn btn-info" href="#">Посмотреть всех партнёров</a></p>
      </div>
    </section>
    <!-- END Companies -->

    <!-- Newsletter -->
    <section class="bg-img text-center subscribe">
      <div class="container">
        <h2><strong>Подписка</strong></h2>
        <h6 class="font-alt">Получайте лучшие предложения о работе еженедельно.</h6>
        <br /><br />
        <form class="form-subscribe" action="#">
          <div class="input-group">
            <input type="text" class="form-control input-lg" placeholder="Ваш e-mail" />
            <span class="input-group-btn">
              <button class="btn btn-success btn-lg" type="submit">Подписаться</button>
            </span>
          </div>
        </form>
      </div>
    </section>
    <!-- END Newsletter -->

    <!-- Recent news -->
    <section class="bg-alt">
      <div class="container">
        <header class="section-header">
          <h2>Последние Новости</h2>
          <p>Самая свежая информация из мира IT-рекрутинга</p>
        </header>
    
        <div class="row item-blocks-connected">
          <!-- News item -->
          <div class="col-xs-12">
            <a class="item-block" href="#">
              <header>
                <div class="hgroup">
                  <h4>Срочные новости из кремниевой долины</h4>
                  <h5>Илон Маск планирует расширение компании во 2-м квартале год...</h5>
                </div>
                <div class="header-meta">
                  <div class="ti-time"> 05.03.21 09.21</div>
                  <span class="news label label-success">Подробнее...</span>
                </div>
              </header>
            </a>
          </div>
          <!-- END News item -->
    
          <!-- News item -->
          <div class="col-xs-12">
            <a class="item-block" href="#">
              <header>
                <div class="hgroup">
                  <h4>Очередные новости мира Frontend-а</h4>
                  <h5>В ходе очередной прошедшей конференции разработчиков, отме...</h5>
                </div>
                <div class="header-meta">
                  <div class="ti-time"> 04.03.21 16.40</div>
                  <span class="news label label-success">Подробнее...</span>
                </div>
              </header>
            </a>
          </div>
          <!-- END News item -->
    
          <!-- News item -->
          <div class="col-xs-12">
            <a class="item-block" href="#">
              <header>
                <div class="hgroup">
                  <h4>Топ 15 трендов рекрутинга 2020 года</h4>
                  <h5>Самые современные подходы, которые значительно повлияют на...</h5>
                </div>
                <div class="header-meta">
                  <div class="ti-time"> 04.03.21 10.17</div>
                  <span class="news label label-success">Подробнее...</span>
                </div>
              </header>
            </a>
          </div>
          <!-- END News item -->
        </div>
        <br /><br />
        <p class="text-center"><a class="btn btn-info" href="#">Все новости</a></p>
      </div>
    </section>
    <!-- END News -->
  </main>
  <!-- END Main container -->

{% endblock %}