{% extends 'base.html' %}
{% load static %}

{% block header %}
    <header class="page-header bg-img size-lg">
        <div class="container no-shadow">
            <h1 class="text-center"> Резюме, вакансии, компании и новости </h1>
        </div>
    </header>
{% endblock %}

{% block content %}
    <!-- Main container -->
    <main>
        <section class="no-padding-top bg-alt">
            <div class="container">
                <div class="row item-blocks-connected">


                    <div class="tab">
                        <button class="tablinks" onclick="openCity(event, 'Resume')">
                            Resume {{ resume_for_aprove.count }}
                        </button>
                        <button class="tablinks" onclick="openCity(event, 'Job')">
                            Job {{ job_for_aprove.count }}
                        </button>
                        <button class="tablinks" onclick="openCity(event, 'Company')">
                            Company {{ company_for_aprove.count }}
                        </button>
                        <button class="tablinks news" onclick="openCity(event, 'News')">
                            News {{ news.count }}
                        </button>
                    </div>

                    <!-- Tab content -->

                    <div id="Resume" class="tabcontent">
                        <h3>Resume</h3>
                        <span>
                            {% for resume in resume_for_aprove %}
                                <div class="col-xs-12">
                                    <div class="item-block">
                                        <header>
                                            <div class="hgroup">
                                                <a href="{% url 'moderapp:moderate_resume' resume.pk %}"><h4>{{ resume }}</h4></a>
                                            </div>
                                        </header>
                                    </div>
                                </div>
                            {% endfor %}
                        </span>
                    </div>

                    <div id="Job" class="tabcontent" style="display: none">
                        <h3>Job</h3>
                        <span>
                            {% for job in job_for_aprove %}
                                <div class="col-xs-12">
                                    <div class="item-block">
                                        <header>
                                            <div class="hgroup">
                                                <a href="{% url 'moderapp:moderate_job' job.pk %}"><h4>{{ job }}</h4></a>
                                            </div>
                                        </header>
                                    </div>
                                </div>
                            {% endfor %}
                        </span>
                    </div>

                    <div id="Company" class="tabcontent" style="display: none">
                        <h3>Company</h3>
                        <span>
                            {% for company in company_for_aprove %}
                                <div class="col-xs-12">
                                    <div class="item-block">
                                        <header>
                                            <div class="hgroup">
                                                <a href="{% url 'moderapp:moderate_company' company.pk %}"><h4>{{ company }}</h4></a>
                                            </div>
                                        </header>
                                    </div>
                                </div>
                            {% endfor %}
                        </span>
                    </div>

                    <div id="News" class="tabcontent" style="display: none">
                        <h3>News</h3>
                        <button><a href="{% url 'moderapp:add_news' %}">Add news</a></button>
                        <span>
                            {% for item in news %}
                                <div class="col-xs-12">
                                    <div class="item-block">
                                        <header>
                                            <div class="hgroup">
                                                <a href="{% url 'moderapp:update_news' item.pk %}"><h4>{{ item }}</h4></a>
                                            </div>
                                        </header>
                                    </div>
                                </div>
                            {% endfor %}
                        </span>
                    </div>

                    <!-- END Tab content -->


                </div>
            </div>
        </section>
    </main>
    <!-- END Main container -->
{% endblock %}

{% block footer %} {% endblock %}

{#<img src="{% static 'img/logo-google.jpg' %}" alt="" >#}