<!-- Site footer -->
<footer class="site-footer">

    <!-- Top section -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h6> О проекте </h6>
                <p class="text-justify">
                    Проект для поиска IT  специалистов и размещения вакансии для IT специалистов.
                </p>
            </div>


        </div>
        <hr>
    </div>
    <!-- END Top section -->

    <!-- Bottom section -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyrights &copy; 2021 All Rights Reserved by
                    <a href="#">GeekStaff</a>.
                </p>
            </div>


        </div>
    </div>
    <!-- END Bottom section -->

</footer>
<!-- END Site footer -->