<!-- Site header -->
<header class="site-header size-lg text-center">
    <div class="container">
        <div class="col-xs-12">
            <br><br>
            <h2>Мы предлагаем <mark>1,259</mark> IT-вакансий прямо сейчас!</h2>
            <h5 class="font-alt">Найдите работу мечты за минуту.</h5>
            <br><br><br>

            <form class="header-job-search">
                <div class="input-keyword">
                    <input type="text" class="form-control" placeholder="Профессия, навыки, компания">
                </div>

                <div class="input-location">
                    <input type="text" class="form-control" placeholder="Город">
                </div>

                <div class="btn-search">
                    <button class="btn btn-primary" type="submit">Поиск</button>
                    <a href="#">Расширенный поиск</a>
                </div>
            </form>
        </div>

    </div>
</header>
<!-- END Site header -->