<section class="bg-alt">
    <div class="container">
        <header class="section-header">
            <h2>Последние Новости</h2>
            <p>Самая свежая информация из мира IT</p>
        </header>

        <div class="row item-blocks-connected">

            {% for item in object_list %}
                {% include 'inc/news_item.html' %}
            {% endfor %}


        </div>
        <br /><br />
        <p class="text-center"><a class="btn btn-info" href="{% url 'mainapp:news_all' %}">Все новости</a></p>
    </div>
</section>