<ul class="nav-menu">


    {% if user.role == "REC" %}
        <li>
            <a href="{% url 'applicantapp:job_search_list' %}">Вакансии </a>
            {#        <ul>#}
            {#            <li><a href="{% url 'mainapp:job_search' %}">Поиск вакансий</a></li>#}
            {#            <li><a href="#">Подробная вакансия</a></li>#}
            {#            <li><a href="#">Разместить вакансию</a></li>#}
            {#            <li><a href="{% url 'mainapp:job_list' %}">Управление вакансиями</a></li>#}
            {#        </ul>#}
        </li>
    {% endif %}

    {% if user.role == "HR" %}


        <li>
            <a href="{% url 'companyapp:resume-list' %}">Список резюмезюме</a>
            {#        <ul>#}
            {#            <li><a href="{% url 'companyapp:resume-list'%}">Список резюме</a></li>#}
            {#            <li><a href="{% url 'companyapp:resume-list'%}">Список резюме</a></li>#}
            {#            <li><a href="{% url 'applicantapp:createresume'%}">Создать резюме</a></li>#}
            {#            <li><a href="{% url 'applicantapp:resume-list'%}">Управление резюме</a></li>#}
            {#        </ul>#}
        </li>
    {% endif %}
    {#    <li>#}
    {#        <a href="#">IT-Компании</a>#}
    {#        <ul>#}
    {#            <li><a href="#">Найти IT-компанию</a></li>#}
    {#            <li><a href="#">Описание компании</a></li>#}
    {#            <li><a href="#">Создать компанию</a></li>#}
    {#            <li><a href="#">Управление компаниями</a></li>#}
    {#        </ul>#}
    {#    </li>#}
    {#    <li>#}
    {#        <a href="#">Информация</a>#}
    {#        <ul>#}
    {#            <li><a href="#">О нас</a></li>#}
    {#            <li><a href="#">Контакты</a></li>#}
    {#            <li><a href="#">F.A.Q.</a></li>#}
    {#        </ul>#}
    {#    </li>#}
</ul>