{% load static %}

<!-- Navigation bar -->
<nav class="navbar">
    <div class="container">

        <!-- Logo -->
        <div class="pull-left">
            <a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="ti-menu"></i></a>

            <div class="logo-wrapper">
                <a class="logo" href="{% url 'mainapp:index' %}"><img src="{% static 'img/logo1.png' %}" alt="logo"></a>
            </div>
        </div>
        <!-- END Logo -->

        <!-- User account -->
        <div class="pull-right">
            <div class="dropdown user-account">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                    <img src="{% static 'img/logo-ava.jpg' %}" alt="avatar">
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="{% url 'authapp:login' %}">Войти</a></li>
                    <li><a href="{% url 'authapp:register' %}">Регистрация</a></li>
                    <li><a href="{% url 'authapp:forget-pass' %}">Забыли пароль?</a></li>
                    <li><a href="#">Выйти</a></li>
                </ul>
            </div>
        </div>
        <!-- END User account -->

        <!-- Navigation menu -->
        <ul class="nav-menu">
            <li>
                <a href="#">Вакансии</a>
                <ul>
                    <li><a href="job-list-3.html">Поиск вакансий</a></li>
                    <li><a href="job-detail.html">Подробная вакансия</a></li>
                    <li><a href="job-add.html">Разместить вакансию</a></li>
                    <li><a href="job-manage.html">Управление вакансиями</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Резюме</a>
                <ul>
                    <li><a href="resume-list.html">Поиск резюме</a></li>
                    <li><a href="resume-detail.html">Подробности резюме</a></li>
                    <li><a href="resume-add.html">Создать резюме</a></li>
                    <li><a href="resume-manage.html">Управление резюме</a></li>
                </ul>
            </li>
            <li>
                <a href="#">IT-Компании</a>
                <ul>
                    <li><a href="company-list.html">Найти IT-компанию</a></li>
                    <li><a href="company-detail.html">Описание компании</a></li>
                    <li><a href="company-add.html">Создать компанию</a></li>
                    <li><a href="company-manage.html">Управление компаниями</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Информация</a>
                <ul>
                    <li><a href="page-about.html">О нас</a></li>
                    <li><a href="page-contact.html">Контакты</a></li>
                    <li><a href="page-faq.html">F.A.Q.</a></li>
                </ul>
            </li>
        </ul>
        <!-- END Navigation menu -->

    </div>
</nav>